.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}

.card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    width: 90%;
    height: 181px;
    background: #EEF0F1;
    margin-bottom: 10px;
}

.header {
    width: 55%;
    height: 70%;
    
    display: flex;
    flex-direction: column;
    padding: 3px;
    background: #EBEBEB;
    border-radius: 12px 0 0 0;
    border-right: 2.5px solid black;
}

.header h3 {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header > span {
    font-size: .85em;
    font-weight: 300;
    padding: 3px;
}

.spec {
    display: flex;
    font-size: .75em;
}

.spec span {
    padding: 3px;
}

.detail {
    width: 45%;
    height: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail i {
    align-self: flex-end;
    padding-right: 6px;
    padding-top: 3px;
    
    
}

.detail p {
    padding: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.resources {
    width: 100%;
    height: 30%;
    border-top: 1px solid #E4E3E3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
}

.resources a {
    border-radius: 12px;
    background: #C1BBBB;
    padding: 1px 3px;
    margin-left: 3px;
}

.crud {
    display: none;
}

.crud-s {
    display: flex; 
    flex-direction: column;
    position: absolute;
    border: 1px solid black;
    background: #1b1b1b;
    z-index: 50;
    right: 4px;
    top: 20px;
    border-radius: 12px;
    width: 100px;
    height: 100px;   
}

.crud-s a {
    font-weight: 600;
    margin: 4px 4px 0 12px;
    color: white;
}

.sort {
    align-self: flex-end;
    margin-right: 25px;
    width: fit-content;
    right: 0;
    padding: 5px 0 5px 5px;
    position: relative;
}

.sort span {padding-right: 3px;}

.sort-item-f { 
    flex-direction: column;
    position: absolute;
    width: 100px;
    top: 30px;
    right: 6px;
    box-shadow: 0 1px 3px 2px; 
    z-index: 10;
    background: #FFF;
}

@media screen and (min-width: 481px){
    

    .card {
        margin: 7px;
        width: 370px;
    }
    /* .footer {
        position: absolute;
    } */
}
@media screen and (min-width: 768px){
    .content {
        
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        margin: 7px;
        width: 360px;
    }
    
}
@media screen and (min-width: 1000px){

    .card {
        margin: 5px;
        width: 450px;
    }
    
    
}